.item {
  width: 40rem;
  height: 30rem;
  background-color: rgb(231, 191, 255);
  border-radius: 7px;
  margin: 1rem;
  text-align: center;
  display: grid;
  grid-template-rows: 20px 1fr 1fr;

  gap: 2px;
}
.tit{
  margin-top: 5px;
  font-size: 15px;
  font-weight: 600;


}
.item-img{
  margin: auto;
  width: 8rem;
  height: 8rem ;
  margin-top: 6rem;
}
.descrip{
  margin-top: rem;
  font-size: 8px;
  color: rgb(0, 0, 0);
}

.verde{
  background-color: green;
}