.item {
    width: 15rem;
    height: 15rem;
    background-color: rgb(214, 14, 0);
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
    display: grid;
    grid-template-rows: 20px 1fr 1fr;

    gap: 2px;
  }
  .tit{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;


  }
  .item-img{
    margin: auto;
    width: 7rem;
    height: 8rem ;
  }
  .descrip{
    font-size: 8px;
    color: rgb(0, 0, 0);
  }